.side-2{
 display: flex;
 flex-direction: column;
 background-color: azure;
 width: 50%;
 align-items: center;
 justify-content: flex-end;
 border: 5px;
 border-radius: 10px;
 margin-left:10git px ;
}
.input{
 display: flex;
 flex-direction: column;
width: 80%;
}