.navbar{
 background-color:  rgb(148, 8, 8);
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: space-evenly;
 align-items: center;
}
.options{
 display: flex;
 flex-direction: row;
 width: 30%;
 list-style: none;
}
li{
 margin: 1rem;
 cursor: pointer;
 color: black;
 font-family: 'Courier New', Courier, monospace;
 font-size: 24px;
 font-weight: 600;
}
.logo{
 max-width: 15%;
 position: absolute;
 top:-2.5rem
}
.logo-section{
 background-color: aquamarine;
display: flex;
position: relative;
justify-content: center;
 width: 30%;
}